.btn-primary, .btn-secondary {
    padding: 16px 46px;
    border-radius: $border-radius;
    transition: all .1s ease-in;
}

.btn-icon {
    padding: 14px;
    border-radius: $border-radius;
}

.btn-primary {
    color: $clr-neutral-100;
    background-color: $clr-primary-400;
}

.btn-secondary {
    background-color: $clr-neutral-200;
}

@media (max-width: calc($breakpoint-md - 1px)) {
    .btn-text {
        display: none;
    }
}

@media (min-width: $breakpoint-md) {
    .btn-icon {
        display: none;
    }
}

@media (max-width: $breakpoint-lg) {
    .btn-primary {
        width: 100%;
        padding-inline: 0;
    }
    
}

.btn-primary:hover {
    background-color: $clr-primary-600;
    scale: 1.05;
}