.btn-primary, .btn-secondary {
    padding: 16px 46px;
    border-radius: $border-radius;
}

.btn-icon {
    padding: 14px;
    border-radius: $border-radius;
}

.btn-primary {
    color: $clr-neutral-100;
    background-color: $clr-primary-400;
}

.btn-secondary {
    background-color: $clr-neutral-200;
}

@media (max-width: $breakpoint-md) {
    .btn-text {
        display: none;
    }
}

@media (min-width: $breakpoint-md) {
    .btn-icon {
        display: none;
    }
}