.class-structure {
    display: grid;
    justify-items: center;
    
    gap: 32px;
    
    .title {
        text-align: center;
        max-width: 14ch;
    }

    .cards {
        display: grid;
        gap: 16px;
    }

    .card {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 16px;
    }

    .number {
        width: 64px;
        aspect-ratio: 1;
        display: grid;
        place-content: center;
        background: $clr-neutral-500;
        color: $clr-neutral-100;
        transition: background 0.1s ease-in;
        z-index: 1;

    }

    .number[aria-selected=true] {
        background: $clr-primary-400;
        animation: numberAnimation 1s ease-in;
    }

    @keyframes numberAnimation {


        25% {
            rotate: 5deg;
            scale: 1.2;
        }
      

        75% {
            rotate: -5deg;
            scale: 0.98;
        }
    }
    
    
    
    @media (min-width:  1024px) {
        gap: 48px;
        
        .cards {
            display: flex;
        }
        
        .card {
            gap: 16px;
        }
        
        .number {
            width: 80px;
        }
        
        .subtitle {
            max-width: 10ch;
        }
    }

    @media (max-width: 420px) {
        .cards {
            width: 100%;
        }
    }
}