$clr-neutral-100: #fff;
$clr-neutral-200: #FCF8F7;
$clr-neutral-500: #E2D9D7;
$clr-neutral-900: #2E2C2B;

$clr-primary-200: #FF9A82;
$clr-primary-400: #FF7858;
$clr-primary-600: #F07153;


.bg-primary {
    background-color: $clr-neutral-100;
}

.bg-secondary {
    background-color: $clr-neutral-200;
}

body {
    color: $clr-neutral-900;
}

.text-highlighted {
    color: $clr-primary-200;
}