$ff-base: 'Inter';

$fs-heading: clamp(2rem, 5vw + 0.5rem, 4rem);
$fs-title: 24px;
$fs-subtitle: 18px;
$fs-body-text: clamp(1rem, 2vw + 0.25rem, 1.5rem);

$fs-logo: clamp(1rem, 2vw + 0.25rem, 1.5rem);
$fs-btn: 24px;

$fs-title-desktop: 48px;
$fs-subtitle-desktop: 32px;

$fw-semi-bold: 600;
$fw-medium: 500;
$fw-regular: 400;

body {
    font-family: $ff-base;
}

.heading {
    font-size: $fs-heading;
    font-weight: $fw-semi-bold;

    @media (min-width: $breakpoint-lg) {
        letter-spacing: 77px;
    }
}

.title {
    font-size: $fs-title;
    font-weight: $fw-semi-bold;

    @media (min-width: $breakpoint-lg) {
        font-size: $fs-title-desktop;
    }
}

.subtitle {
    font-size: $fs-subtitle;
    font-weight: $fw-medium;

    @media (min-width: $breakpoint-lg) {
        font-size: $fs-subtitle-desktop;
    }
}

.logo {
    font-size: $fs-logo;
    font-weight: $fw-semi-bold;
}

.btn-primary, .btn-secondary {
    font-size: $fs-btn;
}

.btn-primary {
    font-weight: $fw-semi-bold;
}

.paragraph {
    font-style: $fs-body-text;
    font-weight: $fw-regular;
}