$ff-base: 'Inter';

// $fs-heading: clamp(1.938rem, 5vw + 0.25rem, 4rem);
$fs-heading: clamp(1.75rem, 5vw, 4rem);
$fs-title: clamp(1.5rem, 4vw + 0.25rem, 3rem);
$fs-subtitle: 18px;
$fs-body-text: clamp(1.125rem, 2vw + 0.25rem, 1.5rem);

$fs-logo: clamp(1.125rem, 2vw + 0.25rem, 1.5rem);
$fs-btn: 24px;

$fs-title-desktop: 48px;
$fs-subtitle-desktop: 24px;
$fs-body-text-deskotp: 24px;

$fw-semi-bold: 600;
$fw-medium: 500;
$fw-regular: 400;

body {
    font-family: $ff-base;
}

.heading {
    font-size: $fs-heading;
    font-weight: $fw-semi-bold;
}

.title {
    font-size: $fs-title;
    font-weight: $fw-semi-bold;

    // @media (min-width: $breakpoint-lg) {
    //     font-size: $fs-title-desktop;
    // }
}

.subtitle {
    font-size: $fs-subtitle;
    font-weight: $fw-medium;

    @media (min-width: $breakpoint-lg) {
        font-size: $fs-subtitle-desktop;
    }
}

.logo {
    font-size: $fs-logo;
    font-weight: $fw-semi-bold;
}

.btn-primary, .btn-secondary {
    font-size: $fs-btn;
}

.btn-primary {
    font-weight: $fw-semi-bold;
}

.paragraph {
    font-size: $fs-body-text;
    font-weight: $fw-regular;

    // @media (min-width: $breakpoint-md) {
    //     font-size: $fs-body-text-deskotp; 
    // }
}