section, nav, footer {
    padding-inline: 32px;

    @media (min-width: $breakpoint-md) {
        padding-inline: 64px;
    }
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: $breakpoint-md) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

