.conversion {
    &, .text, .content {
        display: grid;
    }

    gap: 24px;

    .text {
        gap: 12px;
    }

    .content {
        gap: 48px;
    }


    @media (min-width: 720px) {
        text-align: center;

        .text {
            justify-items: center;
        }

        .title {
            max-width: 16ch;
        }
        
        .paragraph {
            max-width: 32ch;
        }
    }

    @media (max-width: 1024px) {
        .img-right {
            display: none;
        }
    }

    @media (min-width: 1124px) {
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        .content {
            justify-items: center;
        }
        
    }
}