.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

    z-index: 10;

    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 8px;
    margin-bottom: 12px;

    @media (min-width: 720px) {
        padding-top: 24px;
        padding-bottom: 24px;
        margin-bottom: 0;
    }
}

